<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KlonsF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Klons3.Settings1.constr" connectionString="character set=UTF8;data source=localhost;port number=3051;initial catalog=D:\A1-docs\c_net\Klons3\DB\klons_str.fdb;user id=KLONS;password=parole;role=RDB$ADMIN"
            providerName="FirebirdSql.Data.FirebirdClient" />
        <add name="Klons3.Properties.Settings.ConnectionString1" connectionString="data source=localhost;initial catalog=D:\A1-docs\c_net\Klons3\Klons3\DB\KLONS_STR.FDB;user id=KLONS;password=parole;port number=3051"
            providerName="FirebirdSql.Data.FirebirdClient" />
        <add name="KlonsF.Properties.Settings.ConnectionString1" connectionString="data source=localhost;initial catalog=D:\A1-docs\c_net\Klons3\Klons3\DB\KLONS_STR.FDB;user id=KLONS;password=parole;port number=3051"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <userSettings>
        <KlonsF.Properties.Settings>
            <setting name="KlonsVerURLS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>https://raw.githubusercontent.com/Camel-RD/Klons2/master/Klons2/klons2ver.txt</string>
                        <string>http://klons.id.lv/klons2ver.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KlonsF.Properties.Settings>
    </userSettings>
</configuration>